<a href="https://colab.research.google.com/github/2303A52453-Akshitha/2303A52453_AIML/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lab Task is implement the following data structures using Numpy and Pandas.

In [2]:
import numpy as np
lst1=[1,2,3]
array1 = np.array(lst1)
array1

array([1, 2, 3])

In [4]:
type(lst1)

list

In [5]:
type(array1)

numpy.ndarray

Perform Mathematical Operations on these datasets - Multiplication, Division, Poweroff

In [ ]:
print("array2 multiplied by array1: ",array1*array2)
print("array2 divided by array1: ",array2/array1)
print("array2 raised to the power of array1: ",array2**array1)

In [ ]:
# sine function
print("Sine: ",np.sin(array1))
# logarithm
print("Natural logarithm: ",np.log(array1))
print("Base-10 logarithm: ",np.log10(array1))
print("Base-2 logarithm: ",np.log2(array1))
# Exponential
print("Exponential: ",np.exp(array1))

In [ ]:
list2=[3,2,1]
array2=np.array(list2)
array2

In [ ]:
print("Adding two numpy arrays {array1} and {array2} together:", array1+array2)

In [ ]:
print(f"Adding two numpy arrays {array1} and {array2} together: {array1+array2}")

Lab Task is to visualize the datasets or data using Matplotlib builtin function Graphs
Generate Scatterplot
Let's suppose we collected age (in years), height (in cm), and weight (in kilograms) information from few patients visitng a clinic.

In [ ]:
people = ['Ann','Brandon','Chen','David','Emily','Farook',
          'Gagan','Hamish','Imran','Julio','Katherine','Lily']
age = [21,12,32,45,37,18,28,52,5,40,48,15]
weight = [55,35,77,68,70,60,72,69,18,65,82,48]
height = [160,135,170,165,173,168,175,159,105,171,155,158]

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.scatter(weight, height)
plt.title("Relationship between Weight and Height of Patients")
plt.ylabel("Height in Meters")
plt.xlabel("Weight of Patients in Kgs")
plt.show()

Generate Bar Plot

In [ ]:
plt.figure(figsize=(12,4))
plt.title("People's weight in kgs",fontsize=16,
          fontstyle='italic')

# Main plot function 'bar'
plt.bar(x=people,height=weight, width=0.6,
        color='orange',edgecolor='k',alpha=0.6)

plt.xlabel("People",fontsize=15)
plt.xticks(fontsize=14,rotation=30)
plt.yticks(fontsize=14)
plt.ylabel("Weight (in kgs)",fontsize=15)
plt.show()

Generate Histogram

In [ ]:
import numpy as np
plt.figure(figsize=(7,5))

# Main plot function 'hist'
plt.hist(weight,color='red',edgecolor='k', alpha=0.75,bins=5)

plt.title("Histogram of patient weight",fontsize=18)
plt.xlabel("Weight in kgs",fontsize=15)
plt.xticks(fontsize=15)
plt.yticks(fontsize=15)
plt.show()

 Access Data from various sources and formats

In [9]:
import numpy as np
import pandas as pd

In [18]:
df1 = pd.read_table("/AIML.txt")

In [19]:
df1

Empty DataFrame
Columns: [2303A52453-Akshitha]
Index: []

In [16]:
data2 = pd.read_csv("/AIML - Sheet1.csv")

In [20]:
data2

Empty DataFrame
Columns: [Akshitha-2303A524543*]
Index: []

In [13]:
data3 = pd.read_excel("/AIML.xlsx")

In [14]:
data3

Empty DataFrame
Columns: [Akshitha-2303A52453]
Index: []